<script type='text/javascript' src="/js/groups.js"></script>
<div>
    <div id='group-list'>
    </div>
</div>
<template id="template-info-container">
    <div class="info-container">
        <img class="avator" src="/images/male-user-100.png" alt="avator">
        <label class="lbl-info">Group Name: </label><p></p>
    </div>
</template>