<h1>
    Welcome to Accelerate NodeJS Examples
</h1>
<ul class="list-group">
    <li class="list-group-item">
        <h3>
            You can access the Group listing <a href="/groups">Groups Listing</a>
        </h3>
    </li>
    <li class="list-group-item">
        <h3>
            You can access the User listing <a href="/users">Users Listing</a>
        </h3>    
    </li>
</ul>
