<h1>
    Welcome to Accelerate NodeJS Examples
</h1>
<ul class="list-group">
    <li class="list-group-item">
        <h3>
            You can checkout the branch <small>week1</small> to access example for week 1.
        </h3>
    </li>
    <li class="list-group-item">
        <h3>
            You can checkout the branch <small>week2</small> to access example for week 2.
        </h3>    
    </li>
    <li class="list-group-item">
        <h3>
            You can checkout the branch <small>week3</small> to access example for week 3.
        </h3>
    </li>
    <li class="list-group-item">
        <h3>
            You can checkout the branch <small>week4</small> to access example for week 4.
        </h3>
    </li>
</ul>
