<script type='text/javascript' src="/js/users.js"></script>
<div>
    <ul>
        {{#users}}
        <li>Name: {{name}}</li>
        <li>First Name: {{firstName}}</li>
        <li>Last Name: {{lastName}}</li>
        {{/users}}
    </ul>
</div>