<script type='text/javascript' src="/js/users.js"></script>
<link rel="stylesheet" href="/css/user.css">
<div>
    <div id='user-list'>
    </div>
</div>
<template id="users-info-container">
    <div class="user-info-container">
        <img class="user-avator" src="/images/male-user-100.png" alt="avator">
        <label class="lbl-info">First Name: </label><p></p>
        <label class="lbl-info">Last Name: </label><p></p>
        <label class="lbl-info">Email: </label><p></p>
    </div>
</template>